networks:
  chain_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/16

services:
  generate_genesis:
    image: calmw/generate_genesis_bohr:v0.0.1
    container_name: generate_genesis
    networks:
      chain_net:
        ipv4_address: 172.22.0.10
    restart: always
    environment:
      BASE_DIR: "/app"
      DATA_DIR: "/data/app"
      PASSWORD: "db4847e6338423"
      CHAIN_ID: "968"
      INIT_HOLDER: "0xfbfF2FdC957a1bb762c8FC7B81C04D73C4F81007"
      INIT_HOLDERS: '[{"0xfbfF2FdC957a1bb762c8FC7B81C04D73C4F81007":"0x7c13bc4b2c133c56000000"}]'
    volumes:
      - ./app:/data/app
    command: [ "bash", "-x", "/app/generate_genesis.sh" ]
  validator_node_one:
    image: calmw/chain_bohr:v0.0.1
    container_name: validator_node_one
    networks:
      chain_net:
        ipv4_address: 172.22.0.11
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "001"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app:/data/app
    ports:
      - "30301:30303"
      - "30301:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_two:
    image: calmw/chain_bohr:v0.0.1
    container_name: validator_node_two
    networks:
      chain_net:
        ipv4_address: 172.22.0.12
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "002"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app2:/data/app
    ports:
      - "30302:30303"
      - "30302:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_three:
    image: calmw/chain_bohr:v0.0.1
    container_name: validator_node_three
    networks:
      chain_net:
        ipv4_address: 172.22.0.13
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "003"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app3:/data/app
    ports:
      - "30303:30303" 
      - "30303:30303/udp" 
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_four:
    image: calmw/chain_bohr:v0.0.1
    container_name: validator_node_four
    networks:
      chain_net:
        ipv4_address: 172.22.0.14
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "004"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app4:/data/app
    ports:
      - "30304:30303"
      - "30304:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_five:
    image: calmw/chain_bohr:v0.0.1
    container_name: validator_node_five
    networks:
      chain_net:
        ipv4_address: 172.22.0.15
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "005"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app5:/data/app
    ports:
      - "30305:30303"
      - "30305:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_six:
    image: calmw/chain_bohr:v0.0.1
    container_name: validator_node_six
    networks:
      chain_net:
        ipv4_address: 172.22.0.16
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "006"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app6:/data/app
    ports:
      - "30306:30303"
      - "30306:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_seven:
    image: calmw/chain_bohr:v0.0.1
    container_name: validator_node_seven
    networks:
      chain_net:
        ipv4_address: 172.22.0.17
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "007"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app7:/data/app
    ports:
      - "30307:30303"
      - "30307:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]