networks:
  chain_net:

services:
  generate_genesis:
    image: 630968570112.dkr.ecr.ap-northeast-1.amazonaws.com/bohr-test/generate-genesis:mainnet-ebe0c2-20260130132619
    container_name: generate_genesis
    networks:
      chain_net:
    environment:
      BASE_DIR: "/app"
      DATA_DIR: "/data/app"
      PASSWORD: "db4847e6338423"
      CHAIN_ID: "77"
      INIT_HOLDER: "0xfbfF2FdC957a1bb762c8FC7B81C04D73C4F81007"
      INIT_HOLDERS: '[{"0xfbfF2FdC957a1bb762c8FC7B81C04D73C4F81007":"0x7c13bc4b2c133c56000000"}]'
    volumes:
      - ./app:/data/app
    command: [ "bash", "-x", "/app/generate_genesis.sh" ]

  validator_node:
    image: 630968570112.dkr.ecr.ap-northeast-1.amazonaws.com/bohr-test/chain-node-rpc:gas-d37a3a-20260126145033
    container_name: validator_node
    networks:
      chain_net:
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool,parlia"
      WS_API: "eth,net,web3,debug,txpool,parlia"
      MINER_GAS_PRICE: "1000000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "002"
      RPC_URL: "http://127.0.0.1:8545"
    volumes:
      - ./app:/data/app
    ports:
      - "8545:8545"   # HTTP RPC
      - "8546:8546"   # WS RPC
      - "30303:30303" # P2P TCP
      - "30303:30303/udp" # P2P UDP

    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]

