networks:
  chain_net:
    driver: bridge
    ipam:
      config:
        - subnet: 172.22.0.0/16

services:
  generate_genesis:
#    image: calmw/generate_genesis_bohr:v0.0.3
    image: calmw/generate_genesis_bohr:v0.0.4 # gas
    container_name: generate_genesis
    networks:
      chain_net:
        ipv4_address: 172.22.0.10
    environment:
      BASE_DIR: "/app"
      DATA_DIR: "/data/app"
      PASSWORD: "db4847e6338423"
      CHAIN_ID: "968"
      INIT_HOLDER: "0xfbfF2FdC957a1bb762c8FC7B81C04D73C4F81007"
      INIT_HOLDERS: '[{"0xfbfF2FdC957a1bb762c8FC7B81C04D73C4F81007":"0x7c13bc4b2c133c56000000"}]'
    volumes:
      - ./app:/data/app
    command: [ "bash", "-x", "/app/generate_genesis.sh" ]
  validator_node_one:
#    image: calmw/chain_bohr:v0.0.3
    image: calmw/chain_bohr:v0.0.4 # gas
    container_name: validator_node_one
    networks:
      chain_net:
        ipv4_address: 172.22.0.11
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "001"
      RIALTO_HASH: "0x1b953692f112969e2bafa9c48477815ddb1f0bc8fd609a92711c977716911ea2"
    volumes:
      - ./app:/data/app
    ports:
      - "8541:8545"
      - "30301:30303"
      - "30301:30303/udp"
    command: [ "bash", "-x", "/data/app/node_validator_start.sh" ]
  validator_node_two:
#    image: calmw/chain_bohr:v0.0.3
    image: calmw/chain_bohr:v0.0.4 # gas
    container_name: validator_node_two
    networks:
      chain_net:
        ipv4_address: 172.22.0.12
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "002"
      RIALTO_HASH: "0x7ed61b7e7e560911525f02cd0c9cca532d290721bff50d8908e0eb13ef51b49e"
      ENODE_URL: "enode://91ec4dc28fd7b8137c9fa08c69fa878813aae80ea427bb02a1cd5f3b440f9ac22bd91b0cc500e7081109eda524f6700b350d4ba171692b6ed1847d20fabc9e4f@172.22.0.11:30303"
    volumes:
      - ./app2:/data/app
    ports:
      - "8542:8545"
      - "30302:30303"
      - "30302:30303/udp"
    command: [ "bash", "-x", "/data/app/node_validator_start.sh" ]
  validator_node_three:
    image: calmw/chain_bohr:v0.0.3
    container_name: validator_node_three
    networks:
      chain_net:
        ipv4_address: 172.22.0.13
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "003"
      RIALTO_HASH: "0x1b953692f112969e2bafa9c48477815ddb1f0bc8fd609a92711c977716911ea2"
    volumes:
      - ./app3:/data/app
    ports:
      - "8543:8545"
      - "30303:30303" 
      - "30303:30303/udp" 
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_four:
    image: calmw/chain_bohr:v0.0.3
    container_name: validator_node_four
    networks:
      chain_net:
        ipv4_address: 172.22.0.14
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "004"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app4:/data/app
    ports:
      - "8544:8545"
      - "30304:30303"
      - "30304:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_five:
    image: calmw/chain_bohr:v0.0.3
    container_name: validator_node_five
    networks:
      chain_net:
        ipv4_address: 172.22.0.15
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "005"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app5:/data/app
    ports:
      - "8545:8545"
      - "30305:30303"
      - "30305:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_six:
    image: calmw/chain_bohr:v0.0.3
    container_name: validator_node_six
    networks:
      chain_net:
        ipv4_address: 172.22.0.16
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "006"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app6:/data/app
    ports:
      - "8546:8545"
      - "30306:30303"
      - "30306:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]
  validator_node_seven:
    image: calmw/chain_bohr:v0.0.3
    container_name: validator_node_seven
    networks:
      chain_net:
        ipv4_address: 172.22.0.17
    restart: always
    environment:
      BASE_DIR: "/data/app"
      DATA_DIR: "/data/app/node"
      BIN_DIR: "/data/chain/bin"
      KEYS_DIR: "/data/app/keys"
      DB_ENGINE: "pebble"
      GC_MODE: "full"
      STATE_SCHEME: "hash"
      SYNC_MODE: "full"
      PASSWORD: "db4847e6338423"
      HTTP_PORT: "8545"
      WS_PORT: "8546"
      P2P_PORT: "30303"
      METRICS_PORT: "6060"
      PPROF_PORT: "7070"
      HTTP_API: "eth,net,web3,debug,txpool"
      WS_API: "eth,net,web3,debug,txpool"
      MINER_GAS_PRICE: "1000000000"
      MINER_GAS_LIMIT: "35000000"
      VALIDATOR_INDEX: "007"
      RIALTO_HASH: "0x06c529a8477c3c73fbc8d6d8941b9413bf759742a7acb959bf46169070800a8e"
    volumes:
      - ./app7:/data/app
    ports:
      - "8547:8545"
      - "30307:30303"
      - "30307:30303/udp"
    command: [ "bash", "-c", "/data/app/node_validator_start.sh" ]